p, h2{
  color: white;
}

h1{
  color: #fb9902;
}

.bg-img{
  background-image: url('img2.jpeg');
background-repeat: no-repeat;
background-attachment: fixed;  
background-size: cover;
}

.bg-1{
  /* background-color: #0D0F11; */
  background-color: #0D0F11;
}

.bg-2{
  background-color: #131619;
}
.bg-3{
  background-color: #282222;
}

.nav-link{
  padding-left: 0 !important;
}

.active .nav-link{
  color: white !important;
}

.section-name{
  color: #807A7B !important;
}

.section-name:hover{
  color: white !important;
}

.dashboard{
  /* width: 100%; */
  height: 100vh;
  /* border-radius: 10px; */
}

.borders{
  border-radius: 30px;
}

.graph{
  border-radius: 20px;
  border: 1px black solid;
}
.graph img{
  border-radius: 20px;

}

.variablesBox{
  padding: 10% 0 0 0;
}

.variable{
  /* text-align: left; */
  /* padding:5% 0% 4% 5%; */
  padding: 4%;
  margin: 15% 0;
  border-radius: 20px;
}

.variable p{
  color:#fb9902;
  padding-left: 5%;
  font-size: 140%;
  margin-bottom: 0!important;

}
.variables{
  font-size: 125%;
  color: white;
}

.hr-line{
  border-bottom: 1px #fb9902 solid;
  padding-bottom: 10px;
}

.ul{
  padding-bottom: 0;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #2196F3;
/* background-color: #ccc; */
-webkit-transition: .4s;
transition: .4s;
}


.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #2196F3; */
  background-color: #ccc !important;
  -webkit-transition: .4s;
  transition: .4s;
  }

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3 !important;
}

input:focus + .slider1 {
box-shadow: 0 0 1px #2196F3 !important;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

#restart:hover{
  text-decoration: underline;
  cursor:pointer;
}

#rangeInput, #rangeInput1, #rangeInput2{
  width: 100%;
}
#textInput, #textInput1, #textInput2{
  color:white;
}