<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/base.css">


    <title>pose Estimation</title>
</head>

<body>
    <div class="container-fluid ">
        <div class="row dashboard bg-1">
            <div class="col-md-10 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navs" style="padding:1% 3% 2% 3%;">

                            <ul class="nav buttons hr-line">
                                <li class="nav-item active">
                                    <a class="nav-link section-name" href="{{url_for('index')}}">Pose Estimation</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="videos">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="graph graph1">
                                <img src="{{ url_for('video1') }}" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2 bg-2 align-items-center">
                <div class="row" style="height: 100%;">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 ">
                        <div class="variables  text-center">
                            <h2>Variables</h2>
                            <div class="variable bg-1">
                                <h3>
                                    Right angle
                                </h3>
                                <h2 id="variable2">xxx</h2>
                            </div>
                            <div class="variable bg-1 ">
                                <h3>
                                    left angle
                                </h3>
                                <h2 id="variable1">xxx</h2>
                            </div>
                            <div class="variable bg-1 ">
                                <h3>
                                    Swing angle
                                </h3>
                                <h2 id="variable3">xxx</h2>
                            </div>

                            <div>
                                <form method="post" id="form-id">
                                    <b style="color: white;"> Low</b>
                                    <label class="switch">
                                        <input type="checkbox" id="togBtn" value="false" {% if processing=='high' %}
                                            checked {%endif%}>
                                        <span class="slider round"></span>
                                    </label>
                                    <b style="color: white;">High </b>
                                    <input type="text" class="btn btn-primary" name="processing" id="processing"
                                        hidden></button>
                                </form>
                            </div>

                            <div>
                                <form method="post" id="form-id1">
                                    <b style="color: white;"> Stop </b>
                                    <label class="switch">
                                        <input type="checkbox" id="togBtn1" value="false" {% if cap1=='1' %}
                                            checked {%endif%}>
                                        <span class="slider round"></span>
                                    </label>
                                    <b style="color: white;">Start </b>
                                    <input type="text" class="btn btn-primary" name="cap1" id="cap1"
                                        hidden></button>
                                </form>
                            </div>

                            <!-- <form action="{{url_for('index')}}" method="post">
                                <button type="submit" class="btn btn-dark" value="1" name="capture"
                                    style="background-color:black; border:none; margin-top:10%;">Capture</button>
                            </form> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="./static/base.js"></script>
</body>

</html>