<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/arduino.css">


    <title>Arduino</title>
</head>

<body>
    <div class="container-fluid ">
        <div class="row dashboard bg-1">
            <div class="col-md-10 ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navs" style="padding:1% 3% 2% 3%;">

                            <ul class="nav buttons hr-line">
                                <li class="nav-item active">
                                    <a class="nav-link section-name" href="{{url_for('arduino')}}">Arduino</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="videos">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="graph graph1">
                                <div id="emsg" class="text-center">
                                    <!-- <div class="alert alert-warning" role="alert">Connection lost!!! <span onclick="makeConnection()" id="restart" class="alert-link">Reconnect Arduino</span>.</div> -->
                                </div>

                                <form method="post" id="formConnection">
                                    <input type="text" name="connection" id="connection" hidden>
                                </form>
                                <img src="{{ url_for('video') }}" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-2 bg-2 align-items-center">
                <div class="row" style="height: 100%;">
                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-md-12 ">
                        <div class="variablesBox  text-center">

                            <div class="variable bg-1">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <p>
                                            RFP
                                        </p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <span id="variable1" class="variables">xxx</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <p>
                                            RMP
                                        </p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <span id="variable2" class="variables">xxx</span>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 text-center">
                                        <p>
                                            REP
                                        </p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <span id="variable3" class="variables">xxx</span>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 text-center">
                                        <p>
                                            LFP
                                        </p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <span id="variable4" class="variables">xxx</span>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 text-center">
                                        <p>
                                            LMP
                                        </p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <span id="variable5" class="variables">xxx</span>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 text-center">
                                        <p>
                                            LEP
                                        </p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <span id="variable6" class="variables">xxx</span>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 text-center">
                                        <p>
                                            Avg. P
                                        </p>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <span id="variable7" class="variables">xxx</span>
                                    </div>
                                </div>
                                
                            </div>

                            <!-- <div>
                                <form method="post" id="form-id">
                                    <b style="color: white;"> Win</b>
                                    <label class="switch">
                                        <input type="checkbox" id="togBtn" value="false" {% if device=='mac' %}
                                            checked {%endif%}>
                                        <span class="slider round"></span>
                                    </label>
                                    <b style="color: white;">Mac</b>
                                    <input type="text" class="btn btn-primary" name="device" id="device"
                                        hidden></button>
                                </form>
                            </div> -->

                            <div>
                                <form method="post" id="form-id">
                                    <!-- <p><b style="color: white; font-size:larger"> COP</b></p> -->
                                    <b style="color: white;">&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>

                                    <label class="switch">
                                        <input type="checkbox" id="togBtn" value="" {% if cop=='on' %} checked
                                            {%endif%}>
                                        <span class="slider slider1 round"></span>
                                    </label>
                                    <b style="color: white;"> COP </b>

                                    <input type="text" class="btn btn-primary" name="cop" id="cop" hidden>
                                </form>
                            </div>

                            <div style="margin-bottom: 10%;">
                                <form method="post" id="form-id1">
                                    <b style="color: white;"> Stop </b>
                                    <label class="switch">
                                        <input type="checkbox" id="togBtn1" value="false" {% if cap1=='1' %} checked
                                            {%endif%}>
                                        <span class="slider round"></span>
                                    </label>
                                    <b style="color: white;">Start </b>
                                    <input type="text" class="btn btn-primary" name="cap1" id="cap1" hidden>
                                </form>
                            </div>


                            <div class="row">
                                <div class="col-md-2 p-0">
                                    <span style="color:white;">V1</span>
                                </div>
                                <div class="col-md-7 p-0">
                                    <form id="sliderForm" method="post">
                                        <input type="range" style="margin-top:4%;" min="10" max="150" id="rangeInput" {%
                                            if range[0]!='' %} value="{{range[0]}}" {%endif%} name="rangeInput"
                                            onchange="updateTextInput(this.value);">
                                </div>
                                <div class="col-md-3 p-0">
                                    <span id="textInput"></span>
                                </div>
                                </form>
                            </div>

                            <div class="row">
                                <div class="col-md-2 p-0">
                                    <span style="color:white;">H1</span>
                                </div>
                                <div class="col-md-7 p-0">
                                    <form id="sliderForm1" method="post">
                                        <input type="range" style="margin-top:4%;" min="10" max="70" id="rangeInput1"
                                            {% if range[1]!='' %} value="{{range[1]}}" {%endif%} name="rangeInput1"
                                            onchange="updateTextInput1(this.value);">
                                </div>
                                <div class="col-md-3 p-0">
                                    <span id="textInput1"></span>
                                </div>
                                </form>
                            </div>

                            <div class="row">
                                <div class="col-md-2 p-0">
                                    <span style="color:white;">H2</span>
                                </div>
                                <div class="col-md-7 p-0">
                                    <form id="sliderForm2" method="post">
                                        <input type="range" style="margin-top:4%;" min="80" max="150" id="rangeInput2"
                                            {% if range[2]!='' %} value="{{range[2]}}" {%endif%} name="rangeInput2"
                                            onchange="updateTextInput2(this.value);">
                                </div>
                                <div class="col-md-3 p-0">
                                    <span id="textInput2"></span>
                                </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="./static/arduino.js"></script>
</body>

</html>